<a href="https://colab.research.google.com/github/daksh-17/Exploratory-Data-Analysis---Using-python/blob/main/ALY_6040_Module1_TechniquePractice_DakshShah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
icecream = pd.read_csv("https://raw.githubusercontent.com/daksh-17/Exploratory-Data-Analysis---Using-python/main/KickstarterData_assignmet1.csv")

In [9]:
icecream.head(5)
icecream.shape
icecream.describe()

,Donate ID,Deposit Amount,Ice Cream Products Consumed Per Week,How many desserts do you eat a week
count,10000.00000,9960.000000,9896.000000,10000.000000
mean,5000.50000,141.069980,4.968876,5.060700
std,2886.89568,127.223283,3.175296,2.897008
min,1.00000,100.000000,0.000000,0.000000
25%,2500.75000,100.000000,2.000000,3.000000
50%,5000.50000,100.000000,5.000000,5.000000
75%,7500.25000,120.000000,8.000000,7.000000
max,10000.00000,10000.000000,10.000000,100.000000